.todo-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-block: 2rem;
    width: 100%;
}

.todo-form:invalid > button {
    cursor: not-allowed;
}

.input-ctr {
    display: flex;
    flex-direction: column;
}

.input-ctr > input,
.input-ctr > textarea {
    color: var(--FONT_COLOR_LIGHT);
    background-color: var(--BG_DARK_X);
    border: var(--BORDER_MEDIUM);
}

.input-ctr > input::placeholder,
.input-ctr > textarea::placeholder {
    color: var(--FONT_COLOR_LIGHT);
}
