.select-btn {
    border: var(--BORDER_DARK_FAT);
    padding: 1rem 2rem;
    border-radius: 1rem;
    background-color: var(--BG_DARK_X);
    cursor: pointer;
    transition: all 0.3s;
}

.select-btn:hover {
    background-color: var(--BG_DARK);
}

.select-btn:disabled {
    background-color: var(--BG_MEDIUM);
    color: rgb(0, 0, 0, 0.5);
    cursor: not-allowed;
}
