.todo-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dragged-todo-item {
    border: var(--BORDER_LIGHT_FAT);
}

.todo-item-latest {
    background-color: var(--BG_MEDIUM);
    outline: var(--BORDER_LIGHT);
}
