:root {
    --BG_DARK_X: #000F1F;
    --BG_DARK: #001F3D;
    --BG_MEDIUM: #005F8F;
    --BG_LIGHT: #265973; 
    --BG_LIGHT_X: #CCFFFF; 
    --BG_WARNING: #a31818;
    --FONT_COLOR_LIGHT: #CCFFFF;
    --FONT_COLOR_MEDIUM: #0079b6;
    --FONT_COLOR_DARK: #000F1F;
    --BUTTON_COLOR_OK: #003c5a;
    --BORDER_COLOR_LIGHT: #CCFFFF;
    --BORDER_COLOR_MEDIUM: #003c5a;
    --BORDER_COLOR_DARK: #000;

    --FONT_PRIMARY: "Courier Prime", monospace;
    --BORDER_MEDIUM: 1px solid var(--BORDER_COLOR_MEDIUM);
    --BORDER_LIGHT: 1px solid var(--BORDER_COLOR_LIGHT);
    --BORDER_LIGHT_FAT: 3px solid var(--BORDER_COLOR_LIGHT);
    --BORDER_MEDIUM_FAT: 3px solid var(--BORDER_COLOR_MEDIUM);
    --BORDER_DARK_FAT: 3px solid var(--BORDER_COLOR_DARK);

    --Z_INDEX_LEVEL_1: 100;
    --Z_INDEX_LEVEL_2: 200;
    --Z_INDEX_LEVEL_3: 300;
    --Z_INDEX_LEVEL_MAX: 1000;
}

* {
    font-family: var(--FONT_PRIMARY);
    color: var(--FONT_COLOR_LIGHT);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#root, body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-height: 100vh;
    background-color: var(--BG_DARK);
}
