.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--BG_DARK_X);
    padding-block: 1rem;
    padding-inline: 2rem; 
}

.nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.link {
    color: var(--FONT_COLOR_LIGHT);
}

.link:hover {
    color: var(--FONT_COLOR_MEDIUM);
}

.active-link {
    color: var(--FONT_COLOR_MEDIUM);
}

.main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: var(--BG_DARK);
    width: 100%;
    max-width: 1000px;
}

footer {
    width: 100%;
    background-color: var(--BG_DARK_X);
    text-align: center;
    padding: 1rem; 
}

@media (min-width: 500px) {
    .main {
        padding-inline: 2rem;
    }
}

@media (min-width: 900px) {
    .main {
        padding-inline: 8rem;
    }
}
