.article-edit-todo {
    position: relative;
}

.close-edit-mode-ctr {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5rem;
}

.select-icon-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    padding: 0.5rem;
    border: none;
    background-color: transparent;
}

.select-icon-btn:hover {
    background-color: var(--BG_DARK);
}
