.todo-item {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background-color: var(--BG_LIGHT);
    border: var(--BORDER_MEDIUM);
    width: 100%;
    min-height: 120px;
    cursor: pointer;
    padding: 0.5rem;
}

.todo-item:hover {
    background-color: var(--BG_MEDIUM);
    outline: var(--BORDER_LIGHT);
}
