.todo-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background-color: var(--BG_LIGHT);
    border: var(--BORDER_MEDIUM);
    width: 100%;
    padding: 0.5rem;
    min-height: 120px;
    cursor: pointer;
}

.todo-item:hover {
    background-color: var(--BG_MEDIUM);
}

.todo-item-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-grow: 1;
    overflow-x: hidden;
    word-wrap: break-word;
    padding-inline: 8px;
}

.check-box-btn {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.check-box-btn {
    background-color: var(--BG_LIGHT_X);
    border: var(--BORDER_MEDIUM_FAT);
    padding: 4px;
}

.check-box-btn:hover {
    border: var(--BORDER_DARK_FAT);
}

.update-todo-ctr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    height: 100%;
}

.select-icon-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    padding: 0.5rem;
    border: none;
    background-color: transparent;
}

.select-icon-btn:hover {
    background-color: var(--BG_DARK);
}

.hide {
    visibility: hidden;
}

.none {
    display: none;
}
