.select-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    background-color: var(--BG_LIGHT);
    padding: 1rem;
}

.select-button {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    width: 80%;
    padding: 0.2rem;
    background-color: var(--BG_LIGHT_X);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    max-width: 250px;
}

.select-open {
    border-radius: 0.5rem 0.5rem 0 0;
}

.select-label {
    background-color: inherit;
    padding: 0.5rem;
    color: #000F1F;
    font-size: 1rem;
}

.select-icon {
    background-color: var(--BG_LIGHT_X);
    outline: none;
    border: none;
    padding: 0.5rem;
}

.option-ctr {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--BG_LIGHT_X);
    padding-inline: 4px;
    padding-block: 4px;
    border-radius: 0 0 0.5rem 0.5rem;
}

.option-item {
    padding: 1rem;
    font-size: 1rem;
    background-color: inherit;
    border: none;
    color: #000F1F;
    cursor: pointer;
}

.option-item:hover {
    background-color: var(--BG_LIGHT);
}

@media (min-width: 600px) {
    .select-article {
        flex-direction: row;
    }

    .select-button {
        width: 50%;
    }
}
