.select-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--BG_LIGHT);
    padding: 1rem;
}

.select-menu-select-ctr {
    display: flex;
    flex-direction: row;
    gap: 0;
}

.select-menu-select,
.select-menu-select-icon {
    background-color: var(--BG_LIGHT_X);
    outline: none;
    border: none;
    color: #000F1F;
    padding: 0.5rem;
}

.select-menu-select {
    border-radius: 0 0.5rem 0.5rem 0;
    cursor: pointer;
}

.select-menu-select-icon {
    border-radius: 0.5rem 0rem 0rem 0.5rem;
}

.select-menu-select > option {
    position: relative;
    right: 20px;
    color: #000F1F;
    font-size: 1rem;
}

.select-menu-select,
.select-menu-select > option {
    font-size: 0.8rem;
}

@media (min-width: 500px) {
    .select-menu-select,
    .select-menu-select > option,
    .select-menu-title {
        font-size: 1rem;
    }
}
